@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Account Locked";
}

<hgroup>
    <h2 class="text-danger">
        This account has been locked<br />
        <small>Please see your system administrator</small>
    </h2>    
</hgroup>
