
@{
    ViewBag.Title = "Batch";
}
<div class="row">
    <h3>
        Spreadsheet columns names required
    </h3>
    <h4>
        Date, Type, Norm, OT, OT2, User
    </h4>
</div>
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-md-2" for="file">Filename:</label>
        <input class="form-control" type="file" name="file" id="file" />
    </div>
    <input type="submit" />
</form>

