
@{
    ViewBag.Title = "Batch";
}
<div class="row">
    <h3>
        Spreadsheet columns names required
    </h3>
    <h4>
        SSN
        Student
        Note1
        Note2
        ProcessDate
    </h4>
</div>

<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class = "control-label col-md-2" for="file">Filename:</label>
        <input class = "form-control" type="file" name="file" id="file" />
    </div>
    <div class="form-group">
        @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FileTypeID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <input type="hidden" id="QueueID" name="QueueID" value=@ViewBag.QueueID>
    <input type="submit" />
</form>